:root {
    --cor-de-fundo: #2705c0;
    --verde: #4ada30;
    --branco: #f9fceb;
    --botao-ativo: #cccae2;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(67, 60, 138, 0.3);
}
body{
    background-color: var(--cor-defundo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal